body{
    font-family: Arial, sans-serif;
    background: #fff;   
    display: flex;
    justify-content: center;
}

.kalkulator{
    width: 300px;
    border: rgb(255, 255, 255);
    background-color: gray;    
    padding: 25px;  
    border-radius: 12px;
}

.tampilan{
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    background-color: white;
}

table{
    width: 100%;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}


.tombol{
    padding: 16px;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    margin: 10px;
    width: 45px;
    height: 50px;
}

.operator{
   background-color: rgba(0, 0, 0, 0.363);
   padding: 16px;
   display: flex;
}


.sama-dengan{
   background-color: green;
   padding: 16px;
}

.reset{
    background-color: rgb(255, 0, 0);
}

.nama-kamu{
    text-align: center;
    font-weight: bold;
    margin: 8px;
}